#EXAMPLE APP CONFIG
#IMPORTANT: IF THE CONFIG REQUIRES A BOOLEAN VALUE, IT WILL BE '#BOOLEAN' COMMENTED.
#IN BOOLEAN VALUE OTHER THAN true WILL BE FALSE
#IN BOOLEAN VALUES, ANYTHING OTHER THAN true WILL BE CONSIDERED AS false

PORT=3000
DOMAIN=localhost

#DB CONFIG
DB_NAME=app
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=

DB_MIGRATION_BASE=dist/**
#BOOLEAN
DB_LOGGING=true
#BOOLEAN
#ON PRODUCTION SHOULD BE FALSE
DB_SYNCHRONIZE=true

#ADMIN DATA
#ON START, THE APPLICATION WILL CHECK IF A USER ENTITY EXISTS. IF IT DOES NOT EXIST, THE APPLICATION WILL CREATE A USER.
ADMIN_PWD=adminPwdShouldHaveMin8chars
ADMIN_LOGIN=adminLoginShouldBeEmail@gmail.com

#BCRYPT CONFIG
BCRYPT_SALT_ROUNDS=8

#CORS IT NEEDS TWO LINKS FOR ITS APP - ONE FOR THE FRONTEND AND ONE FOR THE ADMIN PANEL, MUST BE DIVIDED BY ','.
CORS=http://localhost:5173,http://localhost:5174

# JWT CONFIG
JWT_SECRET_KEY=RANDOM_STRING_OF_CHARS
JWT_EXPIRES_SECONDS=2678400000
#BOOLEAN
JWT_PROTOCOL_SECURE=false
#BOOLEAN
JWT_HTTP_ONLY=true
#UPLOAD
UPLOAD_DIR=./uploads/#should have "/" at the end
ALBUM_DIR=./uploads/albums
MAX_FILE_SIZE=4194304
#THIS KEY IS IMPORTANT WHEN YOU WANT TO UPLOAD IMAGES.
#YOU CAN GET THE KEY HERE: https://tinypng.com/developers.
TINIFY_KEY=key0-0